## The following requirements were added by pip freeze:
annotated-doc
annotated-types
anyio
appnope
asttokens
attrs
certifi
charset-normalizer
click
comm
debugpy
decorator
et_xmlfile
executing
fastapi
h11
idna
isodate
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
ldap3
lxml
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyasn1
pycryptodome
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
pyzmq
requests
requests-file
requests-toolbelt
six
sniffio
stack-data
starlette
tk
tornado
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
zeep
